# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
.next/
out/
dist/
.build/

# Environment variables
.env.local
.env.*.local

# Misc
.DS_Thumbs.db
Thumbs.db

# Vercel
.vercel

# Debug
*.log
